<template>
  <!-- Admin Page

    - shows users and their query limits
    - the admin can change query limits here
  -->
  <div class="default-border mx-8 mt-8 mx-auto pa-8">
    <h1>{{ $t("admin.page") }}</h1>
    <v-divider></v-divider>
    <v-expansion-panels class="mt-6">
      <v-expansion-panel v-for="(user, index) in users" :key="index">
        <v-expansion-panel-header>
          {{ $t("admin.id") }} {{ user.id }}
          <span v-if="user.username" class="font-weight-bold">
            - {{ user.username }}</span
          >
          <span v-else span>{{ $t("admin.noName") }}</span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-divider></v-divider>
          <v-card flat>
            <div
              class="d-flex align-center justify-space-between text-body-1 font-weight-bold"
            >
              {{ $t("admin.queries") }} {{ user.queryCounter }}
              <v-text-field
                class="mx-6"
                v-model="user.queryLimit"
                type="number"
                label="Querylimit"
                append-outer-icon="add"
                @click:append-outer="changeLimit(user, 1)"
                prepend-icon="remove"
                @click:prepend="changeLimit(user, -1)"
              ></v-text-field>
              <v-btn class="ma-4" @click="saveLimit(user)"
                >{{ $t("admin.saveLimit") }}
                <v-icon v-if="confirmSave">check</v-icon></v-btn
              >
            </div>
            <div class="d-flex justify-end align-center">
              <v-btn class="ma-4" color="warning" @click="openRename(user)">{{
                $t("admin.resetName")
              }}</v-btn>
              <v-btn class="ma-4" color="error" @click="openDelete(user)">{{
                $t("admin.delete")
              }}</v-btn>
            </div>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-dialog max-width="360" v-model="deleteConfirm">
      <v-card class="d-flex flex-column pb-3">
        <v-card-title>{{ $t("admin.confirm") }}</v-card-title>
        <v-divider> </v-divider>
        <v-card-text class="font-weight-bold mt-4">
          {{ $t("admin.account") }} {{ selectedUser.name }}
          {{ $t("admin.withId") }} {{ selectedUser.id }}
          {{ $t("admin.reallyDelete") }}
        </v-card-text>
        <v-card-actions class="d-flex justify-end">
          <v-btn color="error" @click="deleteUser"
            >{{ $t("admin.delete") }} <v-icon>delete</v-icon></v-btn
          >
          <v-btn color="success" @click="deleteConfirm = false">{{
            $t("admin.no")
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog max-width="360" v-model="renameConfirm">
      <v-card class="d-flex flex-column pb-3">
        <v-card-title>{{ $t("admin.confirm") }}</v-card-title>
        <v-divider> </v-divider>
        <v-card-text class="font-weight-bold mt-4">
          {{ $t("admin.name") }} {{ selectedUser.name }}
          {{ $t("admin.withId") }} {{ selectedUser.id }}
          {{ $t("admin.reallyReset") }}
        </v-card-text>
        <v-card-actions class="d-flex justify-end">
          <v-btn right color="error" @click="renameUser()"
            >{{ $t("admin.reset") }} <v-icon>delete</v-icon></v-btn
          >
          <v-btn right color="success" @click="renameConfirm = false">{{
            $t("admin.no")
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import rules from "@/mixins/rules";
import validToken from "@/mixins/validToken";

export default {
  name: "Admin",
  mixins: [rules, validToken],
  data: () => ({
    users: [],
    selectedUser: {},
    deleteConfirm: false,
    renameConfirm: false,
    confirmSave: false
  }),
  computed: {
    ...mapGetters(["isAdmin"])
  },
  methods: {
    changeLimit(user, value) {
      this.users[this.users.indexOf(user)].queryLimit = Number(
        this.users[this.users.indexOf(user)].queryLimit
      );
      this.users[this.users.indexOf(user)].queryLimit += Number(value);
    },
    openRename(user) {
      this.deleteConfirm = false;
      this.selectedUser = user;
      this.renameConfirm = true;
    },
    openDelete(user) {
      this.renameConfirm = false;
      this.selectedUser = user;
      this.deleteConfirm = true;
    },
    renewToken(method) {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "deleteUser":
                this.deleteUser();
                break;
              case "renameUser":
                this.renameUser();
                break;
              case "saveLimit":
                this.saveLimit();
                break;
              case "loadOverview":
                this.loadOverview();
                break;
            }
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "deleteUser":
                this.deleteUser();
                break;
              case "renameUser":
                this.renameUser();
                break;
              case "saveLimit":
                this.saveLimit();
                break;
              case "loadOverview":
                this.loadOverview();
                break;
            }
          });
      }
    },
    // deletes the user in 4 services: auth, user, query and discussion
    deleteUser() {
      if (this.valid) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .post(
                `/service-auth/delete_admin`,
                {
                  id: this.selectedUser.id
                },
                {
                  headers: {
                    Authorization: `Bearer ${this.$store.state.userToken}`,
                    csrf: res.data.csrf_token
                  }
                }
              )
              .then(() => {
                this.deleteInQuery();
              });
          });
      } else {
        this.renewToken("deleteUser");
      }
    },
    deleteInQuery() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .delete(
              "/service-query/api/queries/delete/" + this.selectedUser.id,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(() => {
              this.deleteInDiscussion();
            })
            .catch(() => {
              this.deleteInDiscussion();
            });
        });
    },
    deleteInDiscussion() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .delete(
              "/service-discussion/discussion/user/" + this.selectedUser.id,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(() => {
              this.deleteInUser();
            })
            .catch(() => {
              this.deleteInUser();
            });
        });
    },
    deleteInUser() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .delete(
              "/service-user/user/" + this.selectedUser.id,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(() => {
              this.users.splice(this.users.indexOf(this.selectedUser), 1);
              this.deleteConfirm = false;
              this.selectedUser = {};
              this.loadOverview();
            });
        });
    },
    renameUser() {
      if (this.valid) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .post(
                `/service-user/user/${this.selectedUser.id}/editusername`,
                {
                  username: ""
                },
                {
                  headers: {
                    Authorization: `Bearer ${this.$store.state.userToken}`,
                    csrf: res.data.csrf_token
                  }
                }
              )
              .then(() => {
                this.users[this.users.indexOf(this.selectedUser)].name = "";
                this.renameConfirm = false;
                this.selectedUser = {};
                this.loadOverview();
              });
          });
      } else {
        this.renewToken("renameUser");
      }
    },
    saveLimit(user) {
      if (this.valid) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .post(
                `/service-user/user/${user.id}/editlimit`,
                {
                  queryLimit: user.queryLimit
                },
                {
                  headers: {
                    Authorization: `Bearer ${this.$store.state.userToken}`,
                    csrf: res.data.csrf_token
                  }
                }
              )
              .then(() => {
                this.confirmSave = true;
                setTimeout(() => {
                  this.confirmSave = false;
                }, 2000);
                this.loadOverview();
              });
          });
      } else {
        this.renewToken("saveLimit");
      }
    },
    loadOverview() {
      if (this.valid) {
        if (this.isAdmin) {
          this.$axios
            .get("/service-user/useroverview", {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.users = res.data;
            });
        } else {
          this.$router.push("/");
        }
      } else {
        this.renewToken("loadOverview");
      }
    }
  },
  mounted() {
    this.loadOverview();
  }
};
</script>

<style lang="scss" scoped>
/* Admin styles */
</style>
