<template>
  <!-- Change Password Page

    - reachable from profile page
    - the user can change his password here, policies where checked before acceptance
  -->
  <div class="default-border mt-8 mx-auto">
    <v-form ref="form" lazy-validation class="mx-8 mt-8">
      <h2>{{ $t("changePW.change") }}</h2>
      <v-text-field
        v-model="passwordOld"
        :rules="passwordRules"
        :label="$t('changePW.currentPW')"
        required
        type="password"
      ></v-text-field>
      <div class="check-emojies">
        <v-text-field
          v-model="passwordNew"
          :rules="passwordRules.concat([passwordChecks])"
          :label="$t('changePW.newPW')"
          required
          maxlength="25"
          counter="25"
          type="password"
          :hint="$t('hintPW')"
          persistent-hint
        ></v-text-field>
        <v-text-field
          v-model="rePassword"
          :label="$t('repeatPW')"
          :rules="[passwordConfirmationRule]"
          required
          maxlength="25"
          counter="25"
          type="password"
        ></v-text-field>
        <v-alert
          class="mr-4"
          dense
          outlined
          text
          :type="responseSuccess.type"
          v-if="responseSuccess"
          >{{ responseSuccess.message }}
        </v-alert>
        <v-alert
          class="mr-4"
          dense
          outlined
          text
          :type="responseError.type"
          v-if="responseError"
          >{{ responseError.message }}
        </v-alert>
        <div class="passwordMeter">
          <password-meter :password="passwordNew" @score="onScore" />
        </div>
      </div>
    </v-form>
    <div class="d-flex justify-space-between">
      <v-btn
        class="mt-4 mb-8 ml-8"
        :to="`/${$i18n.locale}/profile`"
        color="error"
        >{{ $t("abort") }}</v-btn
      >
      <v-btn class="mt-4 mb-8 mr-8" @click="changePassword" color="success">{{
        $t("changePW.savePW")
      }}</v-btn>
    </div>
  </div>
</template>

<script>
import rules from "@/mixins/rules";
import passwordMeter from "vue-simple-password-meter";
import validToken from "@/mixins/validToken";
import i18n from "@/i18n";

export default {
  name: "ChangePassword",
  components: {
    passwordMeter
  },
  mixins: [rules, validToken],
  data: () => ({
    passwordOld: "",
    passwordNew: "",
    rePassword: "",
    score: null,
    responseSuccess: "",
    responseError: ""
  }),
  computed: {
    passwordConfirmationRule() {
      return () => this.passwordNew === this.rePassword || i18n.t("checkPW");
    },
    passwordChecks() {
      return () =>
        this.score === 3 || this.score === 4 || i18n.t("rules.PWCheck");
    }
  },
  methods: {
    renewToken() {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.changePassword();
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.changePassword();
          });
      }
    },
    onScore({ score }) {
      this.score = score;
    },
    changePassword() {
      if (this.valid) {
        if (this.$refs.form.validate() && this.score >= 3) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post(
                  "/service-auth/change_password",
                  {
                    id: this.$store.state.userId,
                    oldPassword: this.passwordOld,
                    newPassword: this.passwordNew
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  }
                )
                .then(result => {
                  if (result.data === "Success.") {
                    (this.responseError = ""),
                      (this.responseSuccess = {
                        type: "success",
                        message: this.$t("changePW.changeSuccess")
                      });
                    this.$refs.form.reset();
                  } else {
                    (this.responseSuccess = ""),
                      (this.responseError = {
                        type: "error",
                        message: this.$t("changePW.changeError")
                      });
                  }
                });
            });
        }
      } else {
        this.renewToken();
      }
    }
  }
};
</script>

<style lang="scss">
/* Change Password */
</style>
