<template>
  <!-- Chart Component

    - used in Search Page
    - displays a chart of a specific type with data and xaxis labels
  -->
  <div>
    <div class="headline font-weight-bold">{{ series[0].name }}</div>
    <div class="chart-wrapper mx-auto">
      <div id="chart"></div>
    </div>
  </div>
</template>

<script>
import ApexCharts from "apexcharts";

export default {
  name: "Chart",
  data: () => ({
    title: "Diagram"
  }),
  props: {
    /* Type of the chart, e.g. 'bar' or 'heatmap' */
    type: {
      type: String,
      required: true
    },

    /* Data to visualize */
    series: {
      type: Array,
      required: true
    },

    /* Data to display at the xaxis, e.g. name of the bars */
    xaxis: {
      type: Object,
      required: true
    }
  },
  methods: {
    drawContent() {}
  },
  mounted() {
    const options = {
      chart: {
        type: this.type
      },
      series: this.series,
      xaxis: this.xaxis
    };
    const chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  }
};
</script>

<style lang="scss" scoped>
.rect-btn {
  width: 50px !important;
}

.chart-wrapper {
  width: 640px;
  height: 400px;
}
</style>
