<template>
  <!-- Delete Account Page
    - reachable from profile page
    - the user can delete his account here
  -->
  <div class="mt-8 mx-4">
    <div class="d-flex justify-center">
      <v-card>
        <v-form ref="form" lazy-validation class="mx-8 mt-8 pa-8">
          <h2>{{ $t("deleteAccount.delete") }}</h2>
          <v-text-field v-model="email" label="E-Mail" disabled></v-text-field>
          <v-text-field
            v-model="password"
            :rules="required"
            :label="$t('password')"
            required
            type="password"
          ></v-text-field>
          <v-alert
            v-if="response"
            color="error"
            class="mr-4"
            dense
            outlined
            text
            type="error"
          >
            {{ response }}
          </v-alert>
          <v-btn
            right
            class="ma-2"
            :to="`/${$i18n.locale}/profile`"
            color="error"
            >{{ $t("abort") }}</v-btn
          >
          <v-btn class="ma-2" color="success" @click="deleteAcc()">{{
            $t("deleteAccount.deleteAcc")
          }}</v-btn>
        </v-form>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import rules from "@/mixins/rules";
import validToken from "@/mixins/validToken";
import i18n from "@/i18n";

export default {
  name: "DeleteAccount",
  mixins: [rules, validToken],
  data: () => ({
    email: "",
    password: "",
    response: ""
  }),
  methods: {
    renewToken() {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.deleteAcc();
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.deleteAcc();
          });
      }
    },
    // deletes the user in 4 services: user, query, discussion and auth
    deleteAcc() {
      if (this.valid) {
        if (this.$refs.form.validate()) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .delete(
                  "/service-user/user/" + this.userId,
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  },
                  { withCredentials: true }
                )
                .then(() => {
                  this.deleteInQuery();
                })
                .catch(() => {
                  this.deleteInQuery();
                });
            });
        }
      } else {
        this.renewToken();
      }
    },
    deleteInQuery() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .delete(
              "/service-query/api/queries/delete/" + this.userId,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(() => {
              this.deleteInDiscussion();
            })
            .catch(() => {
              this.deleteInDiscussion();
            });
        });
    },
    deleteInDiscussion() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .delete(
              "/service-discussion/discussion/user/" + this.userId,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(() => {
              this.deleteInAuth();
            })
            .catch(() => {
              this.deleteInAuth();
            });
        });
    },
    deleteInAuth() {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios
            .post(
              "/service-auth/delete",
              {
                email: this.email,
                password: this.password
              },
              {
                headers: {
                  Authorization: `Bearer ${this.$store.state.userToken}`,
                  csrf: res.data.csrf_token
                }
              },
              { withCredentials: true }
            )
            .then(result => {
              if (result.data === "Invalid Password.") {
                this.response = i18n.t("error.wrongPW");
              } else {
                this.response = i18n.t("deleteAccount.deleteSuccess");
                this.$refs.form.reset();
                this.$cookies.remove("session_token");
                this.$cookies.remove("refresh_token");
                this.setLoggedIn(false);
                this.$router.push("/");
              }
            });
        });
    },
    ...mapActions(["setLoggedIn"])
  },
  computed: {
    ...mapGetters(["userMail", "userId", "userToken"])
  },
  mounted() {
    this.email = this.userMail;
  }
};
</script>

<style lang="scss">
/* Password styles */
</style>
