<template>
  <!-- Default Error Page

    - any 404 or other routing error will lead to this
    - the user can go back to the search 
  -->
  <div class="mx-16 pt-12 text-center">
    <h1 class="mb-12">{{ errorStatus }}</h1>
    <p>{{ errorMessage }}</p>
    <p class="mb-12"></p>
    <v-btn to="/" color="primary">{{ $t("error.back") }}</v-btn>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Error",
  computed: {
    ...mapGetters(["errorStatus", "errorMessage"])
  }
};
</script>
