<template>
  <!-- FAQ Page
  
    - reachable from navigation
    - the user can find useful information here
  -->
  <div class="mx-4 mx-sm-16 pt-12">
    <h2 class="text-center">{{ $t("faq.faq") }}</h2>
    <h5 class="text-center mt-4 mb-8">
      {{ $t("faq.faq-sub") }}
    </h5>
    <v-expansion-panels focusable>
      <v-expansion-panel>
        <v-expansion-panel-header>{{
          $t("faq.faq-1")
        }}</v-expansion-panel-header>
        <v-expansion-panel-content class="mt-4">
          {{ $t("faq.faq-1-sub") }}
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>{{
          $t("faq.faq-2")
        }}</v-expansion-panel-header>
        <v-expansion-panel-content class="mt-4">
          {{ $t("faq.faq-2-sub") }}
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>{{
          $t("faq.faq-3")
        }}</v-expansion-panel-header>
        <v-expansion-panel-content class="mt-4">
          {{ $t("faq.faq-3-sub") }}
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>{{
          $t("faq.faq-4")
        }}</v-expansion-panel-header>
        <v-expansion-panel-content class="mt-4">
          {{ $t("faq.faq-4-sub") }}
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>{{
          $t("faq.faq-5")
        }}</v-expansion-panel-header>
        <v-expansion-panel-content class="mt-4">
          {{ $t("faq.faq-5-sub") }}
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: "FAQ"
};
</script>
