<template>
  <!-- Footer Component

    - used in the general layout
    - used as navigation for impressum and datapolicy page
  -->
  <v-footer>
    <v-btn text :to="`/${$i18n.locale}/impressum`">{{ $t("impressum") }}</v-btn>
    <v-btn text :to="`/${$i18n.locale}/datapolicy`">{{
      $t("datapolicy")
    }}</v-btn>
    <v-spacer></v-spacer>
    <v-btn disabled right text>Copyright 2020 / 2021</v-btn>
  </v-footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>
