<template>
  <!-- Forum / Discussion Page

    - reachable from navigation
    - the user post queries, text or images and comment on posts
  -->
  <div class="mx-4 mx-sm-16 pt-12 d-flex flex-column align-center">
    <h2 class="text-center">{{ $t("forum.header") }}</h2>
    <h5 class="text-center mt-4 mb-8">
      {{ $t("forum.sub") }}
    </h5>
    <div class="text-center">
      <v-btn
        color="success"
        @click="showNewEntryModal = true"
        :disabled="!loggedIn"
      >
        {{ $t("forum.add") }}
      </v-btn>
    </div>
    <v-data-table
      :headers="queryheaders"
      :items="queries"
      item-key="posting.id"
      :items-per-page="10"
      single-expand
      show-expand
      class="elevation-4 data-table mt-8 mb-8"
    >
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length" class="pa-4">
          <div class="mx-6 my-4">
            User {{ item.posting.userid }} | {{ item.posting.date }}
            <v-btn
              style="float: right"
              v-if="
                $store.getters.userId === item.posting.userid ||
                  $store.getters.userId === '0'
              "
              @click="deletePosting(item.posting.id)"
              icon
              color="error"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </div>
          <div class="mx-6 my-4 post-content pa-2 pl-4">
            {{ item.posting.content }}
          </div>
          <v-img
            max-width="450"
            class="ma-4 ml-6 post-img"
            :src="item.posting.displayImage"
            v-if="item.posting.displayImage"
          ></v-img>
          <v-list class="mx-6 my-4" v-if="item.comments.length > 0">
            <v-list-item
              v-for="(comment, i) in item.comments"
              :key="i"
              class="comment-row"
            >
              <v-list-item-title> {{ comment.content }}</v-list-item-title>
              <v-list-item-action class="comment-actions">
                <div class="pt-2 mr-3">
                  User {{ comment.userId }} | {{ comment.date }}
                </div>
                <v-row justify="end" no-gutters>
                  <v-btn
                    v-if="$store.getters.userId === comment.userId"
                    @click="
                      setCommentInfo(comment.id, comment.content);
                      showEditCommentModal = true;
                    "
                    icon
                    color="primary"
                  >
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="
                      $store.getters.userId === comment.userId ||
                        $store.getters.userId === '0'
                    "
                    @click="deleteComment(comment.id)"
                    icon
                    color="error"
                  >
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-row>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <v-row justify="end" class="mx-6 my-4">
            <div v-if="item.comments.length === 0" class="pt-2 mr-4">
              {{ $t("forum.noComments") }}
            </div>
            <v-btn
              color="success"
              @click="
                showNewCommentModal = true;
                setPostId(item.posting.id);
              "
              :disabled="!loggedIn"
            >
              <v-icon class="mr-1">add</v-icon> {{ $t("forum.commentAdd") }}
            </v-btn>
          </v-row>
        </td>
      </template>
    </v-data-table>
    <v-dialog
      v-model="showNewEntryModal"
      transition="dialog-top-transition"
      max-width="800"
      persistent
    >
      <v-form ref="posting">
        <v-card class="pa-6 mx-auto">
          <v-row>
            <div class="ml-3">
              <h3>
                {{ $t("forum.add") }}
              </h3>
            </div>
            <v-spacer></v-spacer>
            <v-btn icon class="mr-3" @click="showNewEntryModal = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-row>
          <v-text-field
            maxLength="255"
            counter="255"
            :rules="required"
            :label="$t('forum.title')"
            v-model="newEntryTitle"
            required
          ></v-text-field>
          <v-textarea
            maxLength="4000"
            counter="4000"
            :rules="required"
            :label="$t('forum.description')"
            v-model="newEntryText"
            required
          ></v-textarea>
          <v-file-input
            v-model="fileToUpload"
            show-size
            accept="image/png, image/jpeg"
            :placeholder="$t('forum.image')"
          ></v-file-input>
          <v-row justify="end" class="mt-4">
            <div v-if="!fileSize" class="mt-1 mr-3">
              {{ $t("forum.imageSize") }}
            </div>
            <div class="mr-3">
              <v-btn
                color="success"
                @click="uploadFile(fileToUpload)"
                :disabled="!fileSize"
                >{{ $t("forum.postingAdd") }}</v-btn
              >
            </div>
          </v-row>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog
      v-model="showNewCommentModal"
      transition="dialog-top-transition"
      max-width="800"
      persistent
    >
      <v-form ref="addComment">
        <v-card class="pa-6 mx-auto">
          <v-row>
            <div class="ml-3">
              <h3>
                {{ $t("forum.commentAdd") }}
              </h3>
            </div>
            <v-spacer></v-spacer>
            <v-btn icon class="mr-3" @click="showNewCommentModal = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-row>
          <v-textarea
            maxLength="2000"
            counter="2000"
            required
            :rules="required"
            :label="$t('forum.comment')"
            v-model="newCommentText"
          ></v-textarea>
          <v-row justify="end" class="mt-4">
            <div class="mr-3">
              <v-btn color="success" @click="addComment()">{{
                $t("forum.commentAdd")
              }}</v-btn>
            </div>
          </v-row>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog
      v-model="showEditCommentModal"
      transition="dialog-top-transition"
      max-width="800"
      persistent
    >
      <v-form ref="editComment">
        <v-card class="pa-6 mx-auto">
          <v-row>
            <div class="ml-3">
              <h3>
                {{ $t("forum.commentEdit") }}
              </h3>
            </div>
            <v-spacer></v-spacer>
            <v-btn icon class="mr-3" @click="showEditCommentModal = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-row>
          <v-textarea
            maxLength="2000"
            counter="2000"
            required
            :rules="required"
            :label="$t('forum.comment')"
            v-model="currentCommentContent"
          ></v-textarea>
          <v-row justify="end" class="mt-4">
            <div class="mr-3">
              <v-btn color="success" @click="editComment()">{{
                $t("forum.commentEdit")
              }}</v-btn>
            </div>
          </v-row>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import rules from "@/mixins/rules";
import validToken from "@/mixins/validToken";

export default {
  mixins: [rules, validToken],
  name: "Forum",
  data() {
    return {
      fileToUpload: null,
      isHidden: true,
      showNewEntryModal: false,
      showNewCommentModal: false,
      showEditCommentModal: false,
      currentPostId: "",
      currentCommentId: "",
      currentCommentContent: "",
      newCommentText: "",
      newEntryTitle: "",
      newEntryText: "",
      queryheaders: [
        {
          text: "Title",
          align: "start",
          sortable: false,
          value: "posting.title"
        }
      ],
      queries: []
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    renewToken(method) {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "getData":
                this.deleteUser();
                break;
              case "uploadFile":
                this.renameUser();
                break;
              case "addComment":
                this.saveLimit();
                break;
              case "deleteComment":
                this.loadOverview();
                break;
              case "deletePosting":
                this.loadOverview();
                break;
              case "editComment":
                this.loadOverview();
                break;
            }
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "getData":
                this.deleteUser();
                break;
              case "uploadFile":
                this.renameUser();
                break;
              case "addComment":
                this.saveLimit();
                break;
              case "deleteComment":
                this.loadOverview();
                break;
              case "deletePosting":
                this.loadOverview();
                break;
              case "editComment":
                this.loadOverview();
                break;
            }
          });
      }
    },
    getData() {
      if (this.valid) {
        this.$axios
          .get("/service-discussion/discussion/posting/all", {
            headers: {
              Authorization: `Bearer ${this.$store.getters.userToken}`
            }
          })
          .then(result => {
            this.queries = result.data;
            for (let i = 0; i < this.queries.length; i++) {
              if (this.queries[i].posting.image) {
                this.queries[i].posting.displayImage =
                  "data:" +
                  this.queries[i].posting.imageType +
                  ";base64," +
                  this.queries[i].posting.image;
              } else {
                this.queries[i].posting.displayImage = null;
              }
            }
            for (let j = 0; j < this.queries.length; j++) {
              let options = {
                year: "2-digit",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "2-digit"
              };
              this.queries[j].posting.date = new Date(
                this.queries[j].posting.date
              ).toLocaleDateString("de-de", options);

              for (let k = 0; k < this.queries[j].comments.length; k++) {
                this.queries[j].comments[k].date = new Date(
                  this.queries[j].comments[k].date
                ).toLocaleDateString("de-de", options);
              }
            }
          });
      } else {
        this.renewToken("getData");
      }
    },
    setPostId(postId) {
      this.currentPostId = postId;
    },
    setCommentInfo(commentId, commentContent) {
      this.currentCommentId = commentId;
      this.currentCommentContent = commentContent;
    },
    uploadFile(file) {
      if (this.valid) {
        if (this.$refs.posting.validate()) {
          let post = {
            userId: this.userId,
            content: this.newEntryText,
            title: this.newEntryTitle
          };

          const json = JSON.stringify(post);
          const blob = new Blob([json], {
            type: "application/json"
          });

          const data = new FormData();
          if (file) {
            data.append("file", file);
          }
          data.append("posting", blob);
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post("/service-discussion/discussion/posting/create", data, {
                  headers: {
                    Authorization: `Bearer ${this.$store.getters.userToken}`,
                    csrf: res.data.csrf_token
                  }
                })
                .then(() => {
                  this.newEntryTitle = "";
                  this.newEntryText = "";
                  this.fileToUpload = null;
                  this.showNewEntryModal = false;
                  this.getData();
                });
            });
        }
      } else {
        this.renewToken("uploadFile");
      }
    },
    addComment() {
      if (this.valid) {
        if (this.$refs.addComment.validate()) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post(
                  "/service-discussion/discussion/comments/add",
                  {
                    content: this.newCommentText,
                    userId: this.$store.getters.userId,
                    postingId: this.currentPostId
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.getters.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  this.newCommentText = "";
                  this.showNewCommentModal = false;
                  this.getData();
                });
            });
        }
      } else {
        this.renewToken("addComment");
      }
    },
    deleteComment(comment) {
      if (this.valid) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .delete(
                "/service-discussion/discussion/comments/delete/" + comment,
                {
                  headers: {
                    Authorization: `Bearer ${this.$store.getters.userToken}`,
                    csrf: res.data.csrf_token
                  }
                }
              )
              .then(() => {
                this.getData();
              });
          });
      } else {
        this.renewToken("deleteComment");
      }
    },
    deletePosting(posting) {
      if (this.valid) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .delete("/service-discussion/discussion/posting/" + posting, {
                headers: {
                  Authorization: `Bearer ${this.$store.getters.userToken}`,
                  csrf: res.data.csrf_token
                }
              })
              .then(() => {
                this.getData();
              });
          });
      } else {
        this.renewToken("deletePosting");
      }
    },
    editComment() {
      if (this.valid) {
        if (this.$refs.editComment.validate()) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post(
                  "/service-discussion/discussion/comments/edit/" +
                    this.currentCommentId,
                  {
                    content: this.currentCommentContent
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.getters.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  this.showEditCommentModal = false;
                  this.getData();
                });
            });
        }
      } else {
        this.renewToken("editComment");
      }
    }
  },
  computed: {
    fileSize() {
      if (this.fileToUpload) {
        return this.fileToUpload.size < 1048576;
      } else return true;
    },
    ...mapGetters(["loggedIn", "userId"])
  }
};
</script>

<style lang="scss" scoped>
.data-table {
  width: 1000px;
}

.post-img {
  border: 1px solid #555;
  border-radius: 15px;
}

.comment-actions {
  width: 130px;
}

.comment-row {
  border-bottom: 1px solid #999;
}

.post-content {
  font-size: 20px;
}
</style>
