<template>
  <!-- Highlighted Component

    - used in the search
    - shows a syntax highlighting for SPARQL queries to avoid mistakes
  -->
  <div class="wrapper mx-auto">
    <pre class="line-numbers" ref="editorContainer" :data-line="errLine">
      <code contenteditable
      id="editor"
      ref="editor"
      class="language-sparql"
      @keyup="update"
      data-linenumber="0"
      v-html="query"
      autocomplete="off" 
      autocorrect="off" 
      autocapitalize="off" 
      spellcheck="false"
      >
      </code>
      </pre>
  </div>
</template>

<script>
import prismjs from "prismjs";
import editablediv from "@/mixins/editablediv.js";

export default {
  mixins: [editablediv],
  model: {
    prop: "query",
    emit: "input"
  },
  data: () => {
    return {
      hasStyle: false
    };
  },
  props: {
    query: {
      type: String,
      default: ""
    },
    errorDetails: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  methods: {
    update() {
      this.$emit("input", this.$refs["editor"].innerText);
      this.doSave("editor");
      this.highlight();
    },
    highlight() {
      prismjs.highlightAll();
      this.doRestore("editor");
    },
    countSpans(html) {
      let tmp = document.createElement("DIV");
      tmp.innerHTML = html;
      return tmp.childElementCount || 0;
    },
    textInside(html) {
      let tmp = document.createElement("DIV");
      tmp.innerHTML = html;
      return tmp.textContent || tmp.innerText || "";
    },
    getElementOfPos(html, pos) {
      let current = 0;
      let eleCounter = 0;
      let tmp = document.createElement("DIV");
      tmp.innerHTML = html;
      let elements = tmp.children || [];
      for (var i = 0; i < elements.length; i++) {
        let ele = elements[i];
        let text = ele.innerText || "";
        current += text.length;
        eleCounter++;
        if (current >= pos) {
          break;
        }
      }
      return eleCounter;
    },
    addStyle(styleString) {
      this.removeStyle();
      this.hasStyle = true;
      const style = document.createElement("style");
      style.textContent = styleString;
      style.id = "errorStyle";
      document.head.append(style);
    },
    removeStyle() {
      if (this.hasStyle) {
        document.getElementById("errorStyle")?.remove();
      }
    },
    showError(eline, epos) {
      if (!this.$refs["editor"].innerHTML) return
      let line = this.$refs["editor"].innerHTML.split("\n")[eline - 1];
      let previous = this.$refs["editor"].innerHTML
        .split("\n")
        .slice(0, eline - 1)
        .join();
      let lineElement = this.getElementOfPos(line, epos);
      let total = this.countSpans(previous) + lineElement;
      this.addStyle(`
        #editor > span:nth-child(${total}) {
          color: black;
          background: red;
          font-weight: bold;
        }
      `);
    }
  },
  computed: {
    errPos() {
      return this.errorDetails?.col ? Number(this.errorDetails.col) : null;
    },
    errLine() {
      return this.errorDetails?.line ? Number(this.errorDetails.line) : null;
    }
  },
  watch: {
    query() {
      this.removeStyle();
      this.doSave("editor");
      this.$nextTick(this.highlight);
    },
    errorDetails(val) {
      if (val.line && val.col) {
        this.showError(val.line, val.col);
      } else {
        this.removeStyle();
        this.$forceUpdate();
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs["editor"].focus();
      this.highlight();
    });
  }
};
</script>

<style lang="scss" scoped>
#editor {
  display: inline-block;
  min-width: 94%;
}

#editor::v-deep span:nth-child(2) {
  color: blue;
}

#editor:focus,
#editor:focus {
  outline: none;
}

pre[class*="language-"].line-numbers {
  padding-left: 1em !important;
}
</style>
