<template>
  <!-- Language Switch Component

    - reachable from navigation
    - the user can choose his preferred language
  -->
  <div>
    <v-menu v-model="visible" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-if="`${$i18n.locale}` === 'de'"
          text
          v-bind="attrs"
          v-on="on"
          class="d-flex align-center"
        >
          <img
            src="../logos/flag_de.svg"
            alt="flag"
            class="mx-2"
            width="24"
            height="24"
          />
          <span class="ml-2">DE</span>
        </v-btn>
        <v-btn v-else text v-bind="attrs" v-on="on" class="d-flex align-center">
          <img
            src="../logos/flag_en.svg"
            alt="flag"
            class="mx-2"
            width="24"
            height="24"
          />
          <span class="ml-2">EN</span>
        </v-btn>
      </template>
      <v-list>
        <v-list-item @click="setLocale('de')">
          <img
            src="../logos/flag_de.svg"
            alt="deutsche Flagge"
            class="mx-2"
            width="24"
            height="24"
          />
          <span class="ml-2">DE</span>
        </v-list-item>
        <v-list-item @click="setLocale('en')">
          <img
            src="../logos/flag_en.svg"
            alt="english flag"
            class="mx-2"
            width="24"
            height="24"
          />
          <span class="ml-2">EN</span>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false
    };
  },
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
      this.$router.push({
        params: { lang: locale }
      });
      this.visible = false;
    }
  }
};
</script>
