<template>
  <!-- Login Page

    - reachable from navigation
    - the user can login to his account
  -->
  <div class="default-border mt-8 mx-sm-auto mx-4 ">
    <v-form ref="form" lazy-validation class="mx-8 mt-8">
      <h2>{{ $t("login") }}</h2>
      <v-text-field
        v-model="email"
        :rules="required"
        :label="$t('email')"
      ></v-text-field>
      <v-text-field
        v-model="password"
        :label="$t('password')"
        :rules="required"
        type="password"
      ></v-text-field>
      <v-alert
        v-if="response"
        class="mr-4"
        dense
        outlined
        text
        :type="response.type"
      >
        {{ response.message }}
      </v-alert>
      <v-btn color="success" @click="login()">
        {{ $t("login") }}
      </v-btn>
    </v-form>
    <v-btn
      color="accent"
      class="mt-4 mb-8 ml-8"
      href="http://ep-2020-3.dimis.fim.uni-passau.de:8762/service-auth/oauthlogin"
    >
      {{ $t("loginPage.loginGit") }}
    </v-btn>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import rules from "@/mixins/rules";

export default {
  name: "Login",
  mixins: [rules],
  data: () => ({
    password: "",
    email: "",
    checkbox: false,
    response: ""
  }),
  computed: {
    ...mapGetters(["userName"])
  },
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        this.$axios
          .post(
            "/service-auth/login",
            {
              email: this.email,
              password: this.password
            },
            { withCredentials: true }
          )
          .then(result => {
            if (result.data.token) {
              this.response = {
                type: "success",
                message: this.$t("loginPage.loginSuccess")
              };
              this.setUserMail(this.email);
              this.setLoggedIn(true);
              this.setUserToken(result.data.token);
              this.setUserId(result.data.id);
              if (result.data.id === "0") {
                this.setAdmin(true);
              } else {
                this.setAdmin(false);
              }
              this.$axios
                .get("/service-user/user/" + this.$store.state.userId, {
                  headers: {
                    Authorization: `Bearer ${this.$store.state.userToken}`
                  }
                })
                .then(res => {
                  this.setUserName = res.data.username;
                });
              this.$cookies.set("session_token", result.data.token, {
                maxAge: 60 * 60
              });
              this.$cookies.set("refresh_token", result.data.refresh_token, {
                maxAge: 24 * 60 * 60
              });
              this.setUserMail(this.email);
              this.$axios
                .get(
                  `/service-user/user/${this.$store.state.userId}/darkmode`,
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`
                    }
                  }
                )
                .then(result => {
                  this.$vuetify.theme.dark = result.data;
                  this.$router.push("/");
                  this.$refs.form.reset();
                });
            }
          })
          .catch(err => {
            switch (err.response.data.message) {
              case "The provided email does not belong to any account.":
                this.response = {
                  type: "error",
                  message: this.$t("error.notRegistered")
                };
                break;
              case "Wrong Password.":
                this.response = {
                  type: "error",
                  message: this.$t("error.wrongPW")
                };
                break;
              case "Invalid Request.":
                this.response = {
                  type: "error",
                  message: this.$t("error.invalidRequest")
                };
                break;
              default:
                this.response = {
                  type: "error",
                  message: this.$t("error.unknownError")
                };
                break;
            }
          });
      }
    },
    ...mapActions([
      "setUserName",
      "setLoggedIn",
      "setUserToken",
      "setUserMail",
      "setUserId",
      "setAdmin"
    ])
  }
};
</script>

<style lang="scss" scoped>
/* Login styles */
</style>
