<template>
  <!-- Navigation Component

    - used in the general layout
    - depending on the login-state different pages are displayed
  -->
  <div class="mx-auto">
    <v-app-bar app color="background">
      <router-link :to="`/${$i18n.locale}`">
        <v-img src="../logos/BoogleKlein.png" max-height="200" max-width="150">
        </v-img>
      </router-link>
      <v-btn icon text class="mx-2" :to="`/${$i18n.locale}`"
        ><v-icon>search</v-icon></v-btn
      >
      <language-switcher />
      <template v-slot:extension>
        <v-tabs>
          <v-btn text class="mx-2" :to="`/${$i18n.locale}/faq`">{{
            $t("nav.faq")
          }}</v-btn>
          <v-btn text class="mx-2" :to="`/${$i18n.locale}/forum`">{{
            $t("nav.forum")
          }}</v-btn>
          <div v-if="loggedIn">
            <v-btn text class="mx-2" :to="`/${$i18n.locale}/saved`">{{
              $t("nav.saved")
            }}</v-btn>
            <v-btn
              text
              class="mx-2"
              :to="`/${$i18n.locale}/admin`"
              v-if="isAdmin"
            >
              Admin
            </v-btn>
            <v-btn text class="mx-2" :to="`/${$i18n.locale}/profile`">{{
              $t("nav.profile")
            }}</v-btn>
            <v-btn text class="mx-2" @click="logout()">{{
              $t("nav.logout")
            }}</v-btn>
          </div>
          <div v-else>
            <v-btn text class="mx-2" :to="`/${$i18n.locale}/register`">{{
              $t("register")
            }}</v-btn>
            <v-btn text class="mx-2" :to="`/${$i18n.locale}/login`">{{
              $t("login")
            }}</v-btn>
          </div>
        </v-tabs>
      </template>
    </v-app-bar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import LanguageSwitcher from "./LanguageSwitcher.vue";

export default {
  name: "Navigation",
  components: {
    LanguageSwitcher
  },
  computed: {
    ...mapGetters(["loggedIn", "userId", "isAdmin"])
  },
  methods: {
    logout() {
      this.setLoggedIn(false);
      this.$cookies.remove("session_token");
      this.$cookies.remove("refresh_token");
      this.$router.push("/");
    },
    ...mapActions(["setLoggedIn"])
  }
};
</script>

<style lang="scss" scoped>
.v-tabs::v-deep .v-slide-group__prev {
  display: none !important;
}
</style>
