<template>
  <!-- OAuth Page

    - routed to after OAuth-login
    - routes back to search
  -->
  <div class="text-center pt-12">
    <h3>{{ $t("oauth") }}</h3>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "OAuth",
  methods: {
    ...mapActions(["setLoggedIn", "setUserToken"])
  },
  mounted() {
    this.$axios
      .post(
        "/service-auth/token",
        {
          id: this.$route.query.id
        },
        {
          headers: {
            csrf: this.$route.query.token
          }
        },
        { withCredentials: true }
      )
      .then(result => {
        this.setLoggedIn(true);
        this.setUserToken(result.data.token);
        this.$cookies.set("session_token", result.data.token, {
          maxAge: 60 * 60
        });
        this.$cookies.set("refresh_token", result.data.refresh_token, {
          maxAge: 24 * 60 * 60
        });
        this.$router.push("/");
      });
  }
};
</script>
