<template>
  <!-- Profile Page

    - reachable from navigation
    - the user can change his email and username here
  -->
  <div class="mx-4 mt-8 text-center">
    <h2>{{ $t("profile.data") }}</h2>
    <div class="d-flex justify-center mt-4">
      <v-card class="pa-4">
        <v-form ref="credentials">
          <v-text-field
            v-model="name"
            :rules="nameRules"
            maxLength="10"
            counter="10"
            required
            :label="$t('name')"
          >
          </v-text-field>
          <v-alert
            dismissible
            dense
            :type="nameMessage.type"
            v-if="nameMessage"
            >{{ nameMessage.message }}</v-alert
          >
          <v-text-field
            v-if="isAdmin"
            v-model="email"
            :rules="required"
            :label="$t('email')"
          ></v-text-field>
          <v-text-field
            v-else
            v-model="email"
            :rules="emailRules"
            :label="$t('email')"
          ></v-text-field>
          <v-alert
            dismissible
            dense
            :type="mailMessage.type"
            v-if="mailMessage"
            >{{ mailMessage.message }}</v-alert
          >
          <v-switch
            v-model="this.$vuetify.theme.dark"
            label="Darkmode"
            @change="toggleDarkTheme()"
          >
          </v-switch>
        </v-form>
        <v-btn
          class="ma-2"
          :to="`/${$i18n.locale}/changepassword`"
          color="error"
          >{{ $t("profile.changePW") }}</v-btn
        >
        <v-btn
          class="ma-2"
          :to="`/${$i18n.locale}/deleteaccount`"
          color="error"
          >{{ $t("profile.deleteAcc") }}</v-btn
        >
        <v-btn class="ma-2" @click="saveChanges" color="success">{{
          $t("profile.saveChanges")
        }}</v-btn>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import rules from "@/mixins/rules";
import validToken from "@/mixins/validToken";

export default {
  name: "Profile",
  mixins: [rules, validToken],
  data: () => ({
    name: "",
    oldName: "",
    email: "",
    oldEmail: "",
    nameMessage: "",
    mailMessage: ""
  }),
  computed: {
    ...mapGetters(["userName", "userMail", "isAdmin"])
  },
  mounted() {
    this.init();
  },
  methods: {
    renewToken(method) {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "saveChanges":
                this.deleteUser();
                break;
              case "toggleDarkTheme":
                this.renameUser();
                break;
              case "init":
                this.saveLimit();
                break;
            }
          })
          .catch(err => {
            this.nameMessage = {
              type: "error",
              message: "Error: " + err.message
            };
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            switch (method) {
              case "saveChanges":
                this.deleteUser();
                break;
              case "toggleDarkTheme":
                this.renameUser();
                break;
              case "init":
                this.saveLimit();
                break;
            }
          });
      }
    },
    saveChanges() {
      if (this.valid) {
        this.nameMessage = "";
        if (this.$refs.credentials.validate()) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(resName => {
              this.$axios
                .post(
                  `/service-user/user/${this.$store.state.userId}/editusername`,
                  {
                    username: this.name
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: resName.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  this.saveMail();
                  if (this.oldName != this.name) {
                    this.oldName = this.name;
                    this.nameMessage = {
                      type: "success",
                      message: this.$t("profile.nameSuccess")
                    };
                  }
                })
                .catch(err => {
                  if (this.oldName != this.name) {
                    this.nameMessage = {
                      type: "error",
                      message: "Error: " + err.response.data.message
                    };
                  }
                });
            });
        }
      } else {
        this.renewToken("saveChanges");
      }
    },
    saveMail() {
      if (this.valid) {
        this.mailMessage = "";
        if (this.$refs.credentials.validate()) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(resMail => {
              this.$axios
                .post(
                  "/service-auth/change_email",
                  {
                    id: this.$store.state.userId,
                    newEmail: this.email
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: resMail.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  if (this.oldEmail != this.email) {
                    this.oldEmail = this.email;
                    this.mailMessage = {
                      type: "success",
                      message: this.$t("profile.mailSuccess")
                    };
                  }
                })
                .catch(err => {
                  if (this.oldEmail != this.email) {
                    this.mailMessage = {
                      type: "error",
                      message: "Error: " + err.response.data.message
                    };
                  }
                });
            });
        }
      }
    },
    toggleDarkTheme() {
      if (this.valid) {
        if (this.$vuetify.theme.dark === false) {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post(
                  `/service-user/user/${this.$store.state.userId}/editdarkmode`,
                  {
                    darkmode: true
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
                });
            });
        } else {
          this.$axios
            .get(`/csrf`, {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`
              }
            })
            .then(res => {
              this.$axios
                .post(
                  `/service-user/user/${this.$store.state.userId}/editdarkmode`,
                  {
                    darkmode: false
                  },
                  {
                    headers: {
                      Authorization: `Bearer ${this.$store.state.userToken}`,
                      csrf: res.data.csrf_token
                    }
                  }
                )
                .then(() => {
                  this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
                });
            });
        }
      } else {
        this.renewToken("toggleDarkTheme");
      }
    },
    init() {
      if (this.valid) {
        this.$axios
          .get("/service-user/user/" + this.$store.state.userId, {
            headers: { Authorization: `Bearer ${this.$store.state.userToken}` }
          })
          .then(res => {
            this.$store.dispatch("setUserName", res.data.username);
            this.name = res.data.username;
            this.oldName = res.data.username;
          })
          .catch(err => {
            console.warn(err);
          });
        this.$axios
          .get("/service-auth/email", {
            headers: { Authorization: `Bearer ${this.$store.state.userToken}` }
          })
          .then(res => {
            this.$store.dispatch("setUserMail", res.data.email);
            this.email = res.data.email;
            this.oldEmail = res.data.email;
          })
          .catch(err => {
            console.warn(err);
          });
      } else {
        this.renewToken("init");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
/* Profile styles */

.wrapper {
  max-width: 800px;
}
</style>
