<template>
  <!-- Register Page

    - reachable from navigation
    - the user can register and new account
  -->
  <v-form
    ref="form"
    lazy-validation
    class="default-border mx-sm-auto mx-4 my-8 pa-8"
  >
    <h2>{{ $t("registerPage.register") }}</h2>
    <v-text-field
      v-model="name"
      :rules="nameRules"
      maxLength="10"
      counter="10"
      required
      :label="$t('name')"
    >
    </v-text-field>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      :label="$t('email')"
      required
    ></v-text-field>
    <div class="check-emojies">
      <v-text-field
        v-model="password"
        :rules="passwordRules.concat([passwordChecks])"
        maxlength="25"
        counter="25"
        :label="$t('password')"
        required
        type="password"
        :hint="$t('hintPW')"
        persistent-hint
      ></v-text-field>
      <v-text-field
        v-model="rePassword"
        :label="$t('repeatPW')"
        :rules="[passwordConfirmationRule]"
        maxlength="25"
        counter="25"
        required
        type="password"
      ></v-text-field>
      <password-meter :password="password" @score="onScore" />
    </div>
    <v-alert
      v-if="response"
      class="mr-4"
      dense
      outlined
      text
      :type="response.type"
    >
      {{ response.message }}
    </v-alert>
    <v-checkbox
      v-model="checkbox"
      :rules="agree"
      :label="$t('registerPage.checkBox')"
      required
    ></v-checkbox>
    <v-btn color="success" class="mr-4" @click="signUp()">
      {{ $t("register") }}
    </v-btn>
  </v-form>
</template>

<script>
import { mapActions } from "vuex";
import rules from "@/mixins/rules";
import validToken from "@/mixins/validToken";
import passwordMeter from "vue-simple-password-meter";
import i18n from "@/i18n";

export default {
  name: "Register",
  components: {
    passwordMeter
  },
  mixins: [rules, validToken],
  data: () => ({
    name: "",
    email: "",
    password: "",
    checkbox: false,
    response: "",
    score: null,
    rePassword: ""
  }),
  computed: {
    passwordConfirmationRule() {
      return () => this.password === this.rePassword || i18n.t("checkPW");
    },
    passwordChecks() {
      return () =>
        this.score === 3 || this.score === 4 || i18n.t("rules.PWCheck");
    }
  },
  methods: {
    onScore({ score }) {
      this.score = score;
    },
    async signUp() {
      /**
       * Signup Auth -> Token
       * getCSRF(token) -> CSRFToken
       * Signup User(token,CSRFToken) -> Done | ERR: signupAuth/delete (Token)
       * */

      if (!this.$refs.form.validate() || !this.score >= 3) {
        console.info("Signup Validation Error");
        return false;
      }
      let result = await this.$axios
        .post(
          "/service-auth/signup",
          {
            email: this.email,
            password: this.password
          },
          { withCredentials: true }
        )
        .catch(err => {
          switch (err.response.data.message) {
            case "Email is already taken.":
              this.response = {
                type: "error",
                message: this.$t("error.alreadyTaken")
              };
              break;
            case "Invalid Request.":
              this.response = {
                type: "error",
                message: this.$t("error.invalidRequest")
              };
              break;
            default:
              this.response = {
                type: "error",
                message: this.$t("error.unknownError")
              };
              break;
          }
          return;
        });

      if (!result) {
        console.warn("Signup Post Error: ", result);
        return;
      }

      let accessToken = result.data.token;
      let axiosId = result.data.id;

      this.setUserMail(this.email);
      this.setUserToken(accessToken);
      this.setAdmin(false);
      this.setUserId(axiosId);
      this.setUserName(this.name);

      this.$cookies.set("session_token", accessToken, {
        maxAge: 60 * 60
      });
      this.$cookies.set("refresh_token", result.data.refresh_token, {
        maxAge: 24 * 60 * 60
      });

      let res = await this.$axios.get(`/csrf`, {
        headers: {
          Authorization: `Bearer ${accessToken}`
        }
      });

      let userResponse = await this.$axios.post(
        `/service-user/signup`,
        {
          id: axiosId,
          username: this.name
        },
        {
          headers: {
            Authorization: `Bearer ${accessToken}`,
            csrf: res.data.csrf_token
          }
        }
      );

      if (!userResponse) {
        console.warn("Deleting account in auth.");
        this.response = {
          type: "error",
          message: this.$t("error.unknownError")
        };
        this.$axios.post(
          "/service-auth/delete",
          {
            email: this.email,
            password: this.password
          },
          { withCredentials: true }
        );
        return;
      }

      this.response = {
        type: "success",
        message: this.$t("registerPage.success")
      };

      this.setLoggedIn(true);

      this.$refs.form.reset();
      setTimeout(() => {
        this.$router.push("/");
      }, 2000);
    },
    ...mapActions([
      "setUserName",
      "setLoggedIn",
      "setUserToken",
      "setUserMail",
      "setUserId",
      "setAdmin"
    ])
  }
};
</script>

<style lang="scss" scoped>
/* Register styles */
</style>
