<template>
  <!-- Saved Page

    - reachable from navigation
    - the user can see his saved queries and run, edit or delete them
  -->
  <div class="mx-4 mx-sm-16 mt-8 d-flex align-center flex-column ">
    <h2>{{ $t("saved.savedQueries") }}</h2>
    <div class="mt-6 wrapper" v-if="savedQueries.length > 0">
      <v-expansion-panels>
        <v-expansion-panel
          v-for="(query, index) in savedQueries"
          :key="query.name"
        >
          <v-expansion-panel-header class="font-weight-bold">{{
            query.name
          }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row>
              <v-col>
                <v-textarea v-model="query.content"></v-textarea>
              </v-col>
              <v-col cols="1" class="d-flex flex-column align-center">
                <v-btn
                  elevation="4"
                  icon
                  color="info"
                  class="my-2"
                  @click="changeQuery(query)"
                  ><v-icon>save</v-icon></v-btn
                >
                <v-btn
                  elevation="4"
                  icon
                  color="primary"
                  class="my-2"
                  @click="runQuery(query)"
                  ><v-icon>play_arrow</v-icon></v-btn
                >
                <v-btn
                  elevation="4"
                  icon
                  color="error"
                  class="my-2"
                  @click="removeQuery(query, index)"
                  ><v-icon>delete</v-icon></v-btn
                >
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <div v-else>
      {{ $t("saved.noQueries") }}
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    savedQueries: []
  }),
  name: "Saved",
  computed: {
    ...mapGetters(["userId"])
  },
  methods: {
    runQuery(query) {
      this.setActiveQuery(query);
      this.$router.push("/");
    },
    removeQuery(query, index) {
      this.savedQueries.splice(index, 1);
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios.delete(
            "/service-query/api/queries/" + query.id + "/delete",
            {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`,
                csrf: res.data.csrf_token
              }
            },
            {
              withCredentials: true
            }
          );
        });
    },
    changeQuery(query) {
      this.$axios
        .get(`/csrf`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        })
        .then(res => {
          this.$axios.put(
            "/service-query/api/queries/" + query.id,
            {
              userId: this.userId,
              isSPARQL: query.isSPARQL,
              content: query.content,
              name: query.name
            },
            {
              headers: {
                Authorization: `Bearer ${this.$store.state.userToken}`,
                csrf: res.data.csrf_token
              }
            },
            {
              withCredentials: true
            }
          );
        });
    },
    ...mapActions(["setActiveQuery"])
  },
  mounted() {
    this.$axios
      .get(
        "/service-query/api/queries/" + this.userId,
        {
          headers: {
            Authorization: `Bearer ${this.$store.state.userToken}`
          }
        },
        {
          withCredentials: true
        }
      )
      .then(result => {
        this.savedQueries = result.data;
      });
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  max-width: 800px;
}
</style>
