<template>
  <!-- Search Page

    - reachable from navigation
    - main component of Boogle
    - the user can search for keywords and SPARQL-queries, generate charts and add predicates to the result
  -->
  <div class="mx-4 mx-sm-16 pt-12 mb-4 text-center">
    <h1 class="mb-2">{{ $t("search.search") }}</h1>
    <h4>{{ $t("search.howTo") }}</h4>
    <div class="d-flex justify-center mx-auto mt-4">
      <v-select
        v-model="database"
        :items="databases"
        :label="$t('search.database')"
        class="db-select mx-2"
      ></v-select>
      <v-select
        :items="languages"
        :label="$t('search.language')"
        v-model="language"
        class="language-select mx-2"
      ></v-select>
    </div>
    <div>
      <v-menu transition="slide-y-transition" bottom auto offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="accent mr-2" dark v-bind="attrs" v-on="on">
            {{ $t("search.examples") }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in exampleQueries"
            :key="i"
            @click="setExample(item)"
          >
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-dialog v-if="loggedIn" v-model="dialog" max-width="290">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" v-bind="attrs" v-on="on" class="ml-2">
            {{ $t("search.saveQuery") }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">
            {{ $t("search.nameQuery") }}
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="saveName" :label="$t('name')"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" text @click="saveQuery()">
              {{ $t("search.save") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="d-flex justify-center">
      <v-autocomplete
        v-model="prefix"
        :items="prefixObjects"
        :label="$t('search.choosePrefixes')"
        :loading="loadingPrefixes"
        class="prefix-select mt-2 mb-0 mx-2"
        item-value="uri"
        :item-text="item => item.name + ' ' + item.uri"
        return-object
        multiple
        auto-select-first
        clearable
      >
        <template v-slot:item="data">
          {{ data.item.name }} : {{ data.item.uri }}
        </template>
        <template v-slot:selection="{ item, index }">
          <v-chip v-if="index <= 4">
            <span>{{ item.name }} : {{ item.uri }}</span>
          </v-chip>
          <span v-if="index === 5" class="grey--text caption">
            (+{{ prefix.length - 5 }} andere)
          </span>
        </template>
      </v-autocomplete>
    </div>
    <Highlighted
      ref="highlight"
      :errorDetails="errorDetails"
      class="search-field mb-8"
      v-model="request"
      @input="clearError"
    ></Highlighted>

    <v-alert
      class="alert-field mx-auto"
      v-if="error.type"
      :type="error.type"
      dense
      text
    >
      {{ error.text }}
      <v-btn
        class="alert-button"
        @click="clearError"
        v-if="error.type"
        small
        color="#555"
        absolute
      >
        {{ $t("search.ok") }}
      </v-btn>
    </v-alert>
    <v-row no-gutters justify="space-between" class="request-btns mx-auto">
      <v-col> </v-col>
      <v-col cols="4" md="2" class="d-flex align-center justify-end">
        <v-btn
          large
          class="d-flex align-center font-weight-thin sparql-switch px-2"
        >
          <div class="mx-2 white--text">Keyword</div>
          <v-switch
            class="mt-5"
            color="primary"
            v-model="searchSparqlQuery"
            @click.stop="$emit('btn:no')"
            @mousedown.stop
            @touchstart.stop
          ></v-switch>
          <div class="mx-2 white--text">SparQL</div>
        </v-btn>
        <v-btn
          color="success"
          large
          class="submit-request mb-0 px-4"
          @click="searchRequest()"
        >
          <div>{{ $t("search.search") }}</div>
        </v-btn>
      </v-col>
    </v-row>
    <div
      class="prefix-select mx-auto mt-4"
      :class="{ 'd-flex': $vuetify.breakpoint.smAndUp }"
    >
      <div>
        <v-menu
          v-if="renderHeader.length > 0"
          transition="slide-y-transition"
          bottom
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="warning" dark v-bind="attrs" v-on="on">
              Prädikate löschen
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(head, index) in renderHeader"
              :key="head.value"
              @click="removePred(index)"
            >
              <v-list-item-title>{{ head.text }}</v-list-item-title>
              <v-list-item-action><v-icon>delete</v-icon></v-list-item-action>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <div>
        <v-btn
          v-if="renderData.length > 0"
          color="warning"
          large
          text
          class="submit-request mb-4 mx-2"
          @click="sendPredicateRequest()"
          >{{ $t("search.predicates") }}
        </v-btn>
        <v-list
          style="max-height: 200px; max-width: 400px"
          class="overflow-y-auto"
        >
          <v-list-item
            v-for="predicate in predicates"
            :key="predicate.uri"
            @click="morePredicates(predicate.uri)"
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ predicate.label }} ({{ predicate.uri }})
              </v-list-item-title>
              <v-list-item-action><v-icon>add</v-icon></v-list-item-action>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </div>
    <v-alert
      :value="predicateAlert"
      type="warning"
      dense
      text
      class="predicate-alert mx-auto"
      >{{ predicateAlert }}
    </v-alert>

    <v-row class="mb-8">
      <v-col>
        <v-card v-if="renderData.length > 0" class="result-card mx-auto">
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="search"
              :label="$t('search.search')"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>

          <v-data-table
            v-model="selected"
            :headers="renderHeader"
            :items="indexedRenderdata"
            :search="search"
            show-select
            item-key="id"
            @pagination="addResults($event)"
          ></v-data-table>
          <v-btn
            v-if="renderData"
            color="accent"
            class="mt-4 mb-8 mx-2"
            @click="downloadData()"
            >{{ $t("search.download") }}
          </v-btn>
          <v-btn
            v-if="renderData"
            color="primary"
            class="mt-4 mb-8 mx-2"
            @click="openDiagramEditor()"
            >{{ $t("search.showDiagram") }}
          </v-btn>
        </v-card>
      </v-col>
      <v-col v-if="showDiagram">
        <v-row justify="end">
          <v-col cols="1">
            <v-btn icon @click="showDiagram = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <Chart
          :type="diagramType"
          :series="charData"
          :xaxis="charXAxis"
        ></Chart>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="showDiagramModal" scrollable max-width="540px">
        <v-card>
          <v-card-title>{{ $t("search.dataTableInfo") }}</v-card-title>
          <div class="pl-6">{{ selected.length }} / 16</div>
          <v-divider></v-divider>
          <v-card-text style="height: 300px;">
            <v-row>
              <v-col
                ><h4>
                  {{ $t("search.label") }}
                </h4>
                <v-radio-group v-model="diagramLabels" column>
                  <v-radio
                    v-for="header in renderHeader"
                    :key="header.value"
                    :label="header.text"
                    :value="header.value"
                    class="my-4"
                  ></v-radio> </v-radio-group
              ></v-col>
              <v-col
                ><h4>{{ $t("search.data") }}</h4>
                <v-radio-group v-model="diagramData" column>
                  <v-radio
                    v-for="header in renderHeader"
                    :key="header.value"
                    :label="header.text"
                    :value="header.value"
                    class="my-4"
                  ></v-radio> </v-radio-group
              ></v-col>
            </v-row>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions class="text-center">
            <v-btn color="primary" text @click="showDiagramModal = false">
              {{ $t("search.close") }} </v-btn
            ><v-spacer></v-spacer>
            <v-select
              :items="diagramTypes"
              label="Diagramtyp"
              dense
              color="primary"
              v-model="diagramType"
            ></v-select>
            <v-btn color="primary" text @click="displayDiagram()">
              Erstellen
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import Chart from "@/components/Chart";
import Highlighted from "@/components/Highlighted";
import { mapActions, mapGetters } from "vuex";
import { json2csv } from "json-2-csv";
import i18n from "@/i18n";
import exampleQueries from "@/mixins/exampleQueries";

export default {
  name: "Search",
  components: { Chart, Highlighted },
  mixins: [exampleQueries],
  data: () => ({
    code: "const a = b",
    showDiagram: false,
    showDiagramModal: false,
    search: "",
    selected: [],
    diagramData: "",
    diagramLabels: "",
    dialog: false,
    database: "WIKIDATA",
    databases: ["WIKIDATA", "DBPEDIA", "BBC"],
    prefixObjects: [],
    prefix: [],
    loadingPrefixes: false,
    languages: ["en", "de"],
    language: "de",
    diagramTypes: [
      "line",
      "area",
      "bar",
      "radar",
      "histogram",
      "scatter",
      "heatmap"
    ],
    diagramType: "bar",
    page: 0,
    renderData: [],
    predicates: [],
    highlighted: false,
    predicateAlert: null,
    renderHeader: [],
    saveName: "",
    request: "",
    additionalPredicates: [],
    error: {
      type: "",
      text: ""
    },
    errorDetails: {}
  }),
  computed: {
    searchSparqlQuery: {
      get() {
        return this.$store.state.searchSparqlQuery;
      },
      set() {
        this.$store.commit(
          "SET_SEARCH_SPARQL_QUERY",
          !this.$store.state.searchSparqlQuery
        );
      }
    },
    indexedRenderdata() {
      return this.renderData.map((item, index) => ({
        id: index,
        ...item
      }));
    },
    charData() {
      let data = this.selected.map(d => d[this.diagramData]);
      for (let i = 0; i < data.length; i++) {
        data[i] = parseInt(data[i]);
      }
      return [
        {
          name: "Diagramm",
          data: data
        }
      ];
    },
    charXAxis() {
      return {
        categories: this.selected.map(h => h[this.diagramLabels])
      };
    },
    ...mapGetters(["activeQuery", "loggedIn", "userId"])
  },
  methods: {
    removePred(index) {
      this.additionalPredicates = [];
      this.renderHeader.splice(index, 1);
    },
    displayDiagram() {
      if (this.selected.length < 17 && this.diagramData && this.diagramLabels) {
        this.showDiagram = true;
        this.showDiagramModal = false;
      }
    },
    openDiagramEditor() {
      this.showDiagram = false;
      this.showDiagramModal = true;
    },
    searchRequest() {
      this.setActiveQuery(this.request);
      this.additionalPredicates = [];

      if (this.searchSparqlQuery) {
        this.sendrequest(this.request);
      } else {
        this.sendKeywordRequest(this.request, null);
      }
    },
    setExample(e) {
      this.clearError();
      this.request = e.query;
    },
    getPrefixes() {
      this.loadingPrefixes = true;
      this.$axios
        .get("/service-query/api/prefixes", {
          withCredentials: true
        })
        .then(result => {
          this.prefixObjects = result.data;
          this.loadingPrefixes = false;
        });
    },
    clearError() {
      this.error = {};
      this.errorDetails = {};
    },
    sendrequest(request) {
      this.clearError();
      this.predicates = [];
      this.selected = [];
      this.predicateAlert = null;
      let prefixes = [];
      let requestString = "";
      this.prefix.forEach(object => {
        prefixes.push(object.sparqlFormat);
      });
      requestString = prefixes.join(" ") + " " + request;
      this.$axios
        .post(
          "/service-query/api/sparql",
          {
            request: requestString
          },
          { withCredentials: true }
        )
        .then(result => {
          this.renderData = result.data;
          const header = Object.keys(this.renderData[0]);
          this.renderHeader = [];
          for (let i = 0; i < header.length; i++) {
            this.renderHeader.push({ text: header[i], value: header[i] });
          }
        })
        .catch(err => {
          let resp = err.response.data;
          this.error = {
            type: "error",
            text: resp.message || resp.error
          };
          if (resp.detail) {
            let details = resp.detail;
            this.error = {
              type: "error",
              text: resp.message.split("]")[1]
            };
            this.errorDetails = details;
            this.$refs.highlight.doSave("editor");
            this.$refs.highlight.highlight();
          }
        });
    },
    sendPredicateRequest() {
      this.predicateAlert = null;
      let objects = [];
      for (let i = 0; i < 2; i++) {
        objects = objects.concat(Object.values(this.renderData[i]));
      }
      let counter = 0;
      while (counter < objects.length) {
        const regexMatch = objects[counter].match("http://");
        if (regexMatch && regexMatch.length > 0) {
          counter++;
        } else {
          objects.splice(counter, 1);
        }
      }
      if (objects.length > 0) {
        this.$axios
          .post(
            "/service-query/api/query/predicates?endpoint=" + this.database,
            objects,
            {
              withCredentials: true
            }
          )
          .then(result => {
            this.predicates = result.data;
          });
      } else {
        this.predicateAlert = i18n.t("search.alert");
      }
    },
    morePredicates(p) {
      this.additionalPredicates = [...this.additionalPredicates, p];
      this.sendKeywordRequest(this.request, this.additionalPredicates);
    },
    sendKeywordRequest(request, preds) {
      this.page = 0;
      this.clearError();
      this.selected = [];
      this.predicates = [];

      let tablePreds = [];

      if (preds) {
        tablePreds = preds;
      }

      this.$axios
        .post(
          "/service-query/api/fulltext?q=" +
            request +
            "&language=" +
            this.language +
            "&endpoint=" +
            this.database,
          tablePreds,
          {
            withCredentials: true
          }
        )
        .then(result => {
          this.renderData = result.data;
          const header = Object.keys(this.renderData[0]);
          this.renderHeader = [];
          for (let i = 0; i < header.length; i++) {
            this.renderHeader.push({ text: header[i], value: header[i] });
          }
        })
        .catch(err => {
          if (err.message === "Cannot convert undefined or null to object") {
            this.error = {
              type: "warning",
              text: i18n.t("search.noResults")
            };
          } else {
            this.error = {
              type: "error",
              text: err
            };
          }
        });
    },
    addResults(event) {
      if (!this.searchSparqlQuery && event.page >= event.pageCount - 1) {
        this.clearError();

        this.$axios
          .post(
            "/service-query/api/fulltext?q=" +
              this.request +
              "&language=" +
              this.language +
              "&endpoint=" +
              this.database +
              "&page=" +
              ++this.page,
            this.additionalPredicates,
            {
              withCredentials: true
            }
          )
          .then(result => {
            this.renderData.push(...result.data);
          })
          .catch(err => {
            if (err.message === "Cannot convert undefined or null to object") {
              this.error = {
                type: "warning",
                text: i18n.t("search.noResults")
              };
            } else {
              this.error = {
                type: "error",
                text: err
              };
            }
          });
      }
    },
    saveQuery() {
      this.dialog = false;

      if (this.request.trim()) {
        this.$axios
          .get(`/csrf`, {
            headers: {
              Authorization: `Bearer ${this.$store.state.userToken}`
            }
          })
          .then(res => {
            this.$axios
              .post(
                "/service-query/api/queries/save",
                {
                  userId: this.userId,
                  isSPARQL: this.searchSparqlQuery,
                  content: this.request,
                  name: this.saveName
                },
                {
                  headers: {
                    Authorization: `Bearer ${this.$store.state.userToken}`,
                    csrf: res.data.csrf_token
                  }
                },
                {
                  withCredentials: true
                }
              )
              .then(() => {
                this.saveName = "";
              });
          });
      }
    },
    downloadData() {
      json2csv(
        this.renderData,
        (err, csv) => {
          if (err) throw err;
          const blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
          const link = document.createElement("a");
          const url = URL.createObjectURL(blob);
          link.setAttribute("href", url);
          link.setAttribute("download", i18n.t("search.result"));
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          URL.revokeObjectURL(url);
        },
        {
          delimiter: {
            wrap: '"',
            field: ",",
            eol: "\n"
          }
        }
      );
    },
    ...mapActions(["setActiveQuery"])
  },
  mounted() {
    this.request = this.activeQuery;
    this.getPrefixes();
  }
};
</script>

<style lang="scss" scoped>
.request-btns,
.search-field,
.alert-field,
.prefix-select,
.result-card {
  max-width: 800px;
}

.selector {
  max-width: 600px;
}

.predicate-alert {
  max-width: 450px;
}

.alert-button {
  right: 10px;
  bottom: 7px;
}

.sparql-switch {
  background-color: darken($success, 3%) !important;
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.submit-request {
  border-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.stepper {
  box-shadow: none !important;
}

.text-green {
  color: #55bb55;
}

.text-blue {
  color: #2222bb;
}

.text-red {
  color: #bb5555;
}

.db-select {
  max-width: 280px;
}

.language-select {
  max-width: 60px;
}
</style>
