<template>
  <!-- Mother Component

    - wraps the app
  -->
  <v-app>
    <Navigation></Navigation>
    <v-main>
      <router-view></router-view>
    </v-main>

    <Footer></Footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

import Navigation from "@/components/Navigation";
import Footer from "@/components/Footer";
import validToken from "@/mixins/validToken";

export default {
  name: "App",
  mixins: [validToken],
  components: {
    Navigation,
    Footer
  },
  methods: {
    renewToken() {
      if (this.isOAuthToken) {
        this.$axios
          .post(
            `/service-auth/oauthrefresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            },
            { withCredentials: true }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.deleteAcc();
          });
      } else {
        this.$axios
          .post(
            `/service-auth/refresh`,
            {},
            {
              headers: {
                "refresh-token": this.$cookies.get("refresh_token")
              }
            },
            { withCredentials: true }
          )
          .then(resp => {
            this.$cookies.set("session_token", resp.data.token, {
              maxAge: 60 * 60
            });
            this.$cookies.set("refresh_token", resp.data.refresh_token, {
              maxAge: 24 * 60 * 60
            });
            this.deleteAcc();
          });
      }
    },
    checkLoginStatus() {
      if (this.valid) {
        if (this.$cookies && this.$cookies.get("session_token")) {
          const token = this.$cookies.get("session_token");
          this.setUserToken(token);
          this.setLoggedIn(true);

          this.$axios
            .get("/service-auth/id", {
              headers: {
                Authorization: `Bearer ${token}`
              }
            })
            .then(result => {
              this.setUserId(result.data.id);
              if (result.data.id === "0") {
                this.setAdmin(true);
              }
            });

          this.$axios
            .get("/service-auth/email", {
              headers: {
                Authorization: `Bearer ${token}`
              }
            })
            .then(result => {
              this.setUserMail(result.data.email);
            });
        }
      } else {
        this.renewToken();
      }
    },
    ...mapActions([
      "setLoggedIn",
      "setUserToken",
      "setUserId",
      "setUserMail",
      "setAdmin"
    ])
  },
  mounted() {
    this.checkLoginStatus();
  }
};
</script>
