.check-emojies {
    .po-password-strength-bar {
      border-radius: 2px;
      transition: all 0.2s linear;
      font-size: 20px;
      margin-bottom: 40px;
      position: relative;
    }
  
    .po-password-strength-bar.risky {
      width: 20%;

      &:before {
        content: "😱";
        position: absolute;
        left: 45%;
        top: 80%;
      }
    }
  
    .po-password-strength-bar.guessable {
      width: 40%;

      &:before {
        content: "😣";
        position: absolute;
        left: 45%;
        top: 80%;
      }
    }
  
    .po-password-strength-bar.weak {
      width: 60%;

      &:before {
        content: "🤨";
        position: absolute;
        left: 45%;
        top: 80%;
      }
    }
  
    .po-password-strength-bar.safe {
      width: 80%;

      &:before {
        content: "🙂";
        position: absolute;
        left: 45%;
        top: 80%;
      }
    }
  
    .po-password-strength-bar.secure {
      width: 100%;

      &:before {
        content: "😁";
        position: absolute;
        left: 45%;
        top: 80%;
      }
    }
  }